@model Supermarket.Core.DtoObjects.ViewModels.Product.ProductDetailsVM

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="@Model.ImageUrl" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>@Model.Name</h3>
                        <div class="product__details__price">$ @Model.Price.ToString("F2")</div>
                        <p>@Model.Description</p>

                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input id="qu" type="number" value="1">
                                </div>
                            </div>
                        </div>
                        <button id="addtocart" class="primary-btn">ADD TO CARD</button>
                        <ul>
                            <li><b>Availability</b> <span>@(@Model.InStock ? "Yes" : "No")</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @section Scripts {
        <script>
            const addtocartbtn = document.querySelector("#addtocart");
            const qselect = document.querySelector("#qu");
            addtocartbtn.addEventListener("click", () => {
                 (async() => {
                        await fetch(`@(Context.Request.Scheme)://@(Context.Request.Host)/api/cart`, {
                            method: "POST",
                            body: JSON.stringify({
                                id: "@Model.Id",
                                qu: qselect.value
                            }),
                            headers: {
                                'Content-Type': 'application/json'    
                            }});
                 
                        location.reload();
                 })()
            })
        </script>
    }