@{
    ViewData["Title"] = "Product List";
    List<Product> products = ViewBag.Products;
}

<a href="~/Admin/Product/Create" class="primary-btn w-100" style="margin-bottom:2em; text-align:center;">Create a new product</a>

<table id="table" class="table">
    <thead>
        <tr>
            <td></td>
            <td>Category</td>
            <td>Name</td>
            <td>Quantity</td>
            <td>Price</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
            @foreach(var product in products)
            {
                <tr>
                    <td><img src="@product.ImageUrl" height="40" width="40"/></td>
                    <td>@product.Category.Name</td>
                    <td>@product.Name</td>
                    <td>@product.Quantity</td>
                    <td>@product.Price</td>
                    <td>
                        <a href="~/Admin/Product/Update/@(product.Id)" class="primary-btn" style="text-align:center;">Edit</a>
                        <a href="~/Admin/Product/Delete/@(product.Id)" class="primary-btn" style="text-align:center;">Delete</a>
                        <a href="~/Admin/Product/Details/@(product.Id)" class="primary-btn" style="text-align:center;">Details</a>
                    </td>
                </tr>
            }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready( function () {
            $('#table').DataTable();
        });
    </script>
}